body {
    background-color: #fffbf7;
}
header {
    padding: 5px 40px 5px 40px;
    border: 10px black solid;
    margin-top: 60px;
}
h1 {
    text-align: center;
    color: #025157;
}

h5 {
    font-family: verdana;
    color: #8b8b8bcc;
}

p {
    color: #fb3ad4;
    font-family: verdana;
    font-size: 20px;
}
button {
    background-color: #025157;
    color: #fff;
}